.glyphicon.glyphicon-plus-sign {
  font-size: 45px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.form-column {
  width: 100px;
}