<div class="main">
  <div class="left">
    <app-advanced-options [costData]="costData"></app-advanced-options>
    <div class="sliders flex-item">
    <h3>Travel Light on...</h3>
    <app-preference-slider-container 
      class="flex-container"
      (preferenceNotify)="onPreferenceNotify($event)"></app-preference-slider-container>
    </div>
    <h3>At A Glance</h3>
    <app-radar-chart 
      [costData]="costData"
      [changes]="changes"
      [planeRank]="planeRank"
      [carRank]="carRank"
      [trainRank]="trainRank"
      [walkingRank]="walkingRank"     
      class = "flex-item">
    </app-radar-chart>
  </div>
  <div class="right">
    <app-cards [costData]="costData" 
      [changes]="changes"
      [planeRank]="planeRank"
      [carRank]="carRank"
      [trainRank]="trainRank"
      [walkingRank]="walkingRank">
    </app-cards>
  </div>
</div>
